body {
  background: linear-gradient(to right, #ADD8E6, #00CED1);
  min-height: 100%;
  font-family: 'BioRhyme', serif;
}

h1 {
  background-image: url("http://i.imgur.com/nJuivqb.jpg");
  text-align: center;
  margin-bottom: 30px;
  margin: 0;
  height: 395px;
  background-size: cover;
  color: #2F4F4F;
  font-size: 49px;
  letter-spacing: 0.5px;
  font-family: 'BioRhyme', serif;
}

#modalWrap{
  max-width: 600px;
  margin: 50px auto;
}

#modalBodies {
  position: relative;
  perspective: 1000px;
}

.modal {
  background: white;
  padding: 40px 100px;
  box-shadow: 0px 50px 30px -30px rgba(0,0,0,0.3);
  box-sizing: border-box;
  width: 100%;
}

h2 {
  color: #2F4F4F;
  font-size: 25px;
  font-family: 'BioRhyme', serif;
}

#textInput {
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}

#longButton, #shortButton {
  background-color: #008CBA;
  font-size: 20px;
  font-family: 'BioRhyme', serif;
  cursor: pointer, cursor: hand;
  color: white;
  transition-duration: 0.4s;
}

#longButton:hover, #shortButton:hover {
  background-color: white;
  color: black;
}

#textButton {
  margin-left: 25em;
}

.radioInput {
  margin-right: 10px;
}

#radioButton {
  margin-left: 25.5em;
}

#dropdown {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
  color: black;
  background-color: #008CBA;
  color: white;
  padding: 12px;
  margin-right: 12em;
  border: none;
}

#dropdown:hover, #dropdown:focus {
  background-color: #797979;
}

#dropdButton {
  margin-left: 345px;
}

#enterButton {
  margin-top: 2em;
}

#resultsName {
  color: #2F4F4F;
  font-family: 'BioRhyme', serif;
  font-size: 30px;
}

#displayResults {
  color: #2F4F4F;
  font-family: 'BioRhyme', serif;
  font-size: 35px;
}

#results img {
  height: 240px;
  width: 400px;
}

#results {
  display: none;
  color: #2F4F4F;
  font-size: 30px;
  font-family: 'BioRhyme', serif;
}
